/** Transitions **/
$primary-speed: .3s;

@mixin transition-speed($speed) {
  -webkit-transition:$speed;
  -moz-transition:$speed;
  -ms-transition:$speed;
  -o-transition:$speed;
  transition:$speed;
}

[class*='col-'] {
  @include transition-speed($primary-speed);	
}

/** Spacers **/
@mixin vertical-space($space) {
  height:$space;
  width:100%;
}

.spacer-40 {
  height:40px;
  width:100%;
}

button {
  height: 50px;
  min-width:150px;
  background-color:rgba(255,108,126,1);
  border:1px solid #FF6C7E;
  box-sizing: border-box;
  font-size:12px;
  color:#ffffff;
}

button:hover {
  background-color:rgba(255,108,126,0);
  @include transition-speed($primary-speed);
  color:#000000;
}
